run = "tsx spawner.ts"
entrypoint = "spawner.ts"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
run = ["tsx", "spawner.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
